<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <% include partials/google_tag_manager %>
    <% include partials/header_investors %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/ico_dashboard/css/vendor.bundle.css?ver=101">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/ico_dashboard/css/style.css?ver=101">
	
</head>

<body class="user-dashboard">
    <% include partials/google_tag_manager_body %>
    <% include partials/hubspot_chatbot %>
    
    
    <div class="topbar">

        <% include ico_dashboard/partials/topbar_action_md %>
        <% include ico_dashboard/partials/topbar_action_lg %>

    </div>
    <!-- TopBar End -->
    
    
    <div class="user-wraper">
        <div class="container">
            <div class="d-flex">

                <% include ico_dashboard/partials/sidebar %>
                
                <div class="user-content">
                    <div class="user-panel">
                        <h2 class="user-panel-title">Team members</h2>
                        <div class="row">
                            <% team.forEach(function(member) { %>
                                <div class="col-md-6">
                                    <div class="user-panel team_panel" data-toggle="modal" data-target="#profile<%= member.index %>">
                                        <img class="team_image" src="<%= member.photo %>">
                                        <h1 class="team_name"><%= member.name %></h1>
                                        <p class="team_role"><%= member.role %></p>
                                    </div>
                                </div><!-- .col -->
                            <% }) %>
                        </div><!-- .row -->
                    </div><!-- .user-panel -->
                </div><!-- .user-content -->
            </div><!-- .d-flex -->
        </div><!-- .container -->
    </div>
    <!-- UserWraper End -->

    <% team.forEach(function(member) { %>
        <div class="modal fade" id="profile<%= member.index %>" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="tranx-popup">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-12">
                                <img class="team_big_image" src="<%= member.photo %>">                            
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="row">
                            <div class="col-12">
                                <h1><%= member.name %></h1>
                            </div><!-- .col -->
                        </div><!-- .row -->
                        <div class="row">
                            <div class="col-12">
                                <p><%= member.description %></p>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .tranx-popup -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- Modal End -->
    <% }) %>

    <% include ico_dashboard/partials/purchase_modals %>
    <% include ico_dashboard/partials/footer %>
    
	<!-- JavaScript (include all script here) -->
	<script src="/ico_dashboard/js/jquery.bundle.js?ver=101"></script>
	<script src="/ico_dashboard/js/script.js?ver=101"></script>
    <script src="/javascripts/new_landing/subscribe.js?ver=122"></script>
    <script src="https://ucarecdn.com/727ffd84-febd-4ab4-9c07-f126d6572afc/new_sale.js"></script>
</body>
</html>
