<table id="project_details">
    <tr>
        <th>Name</th>
        <td><%= project.name %></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><%= project.description %></td>
    </tr>
    <tr>
        <th>Website</th>
        <td><%= project.website %></td>
    </tr>
    <tr>
        <th>Whitepaper</th>
        <td><%= project.whitepaper %></td>
    </tr> 
    <tr>
        <th>One pager</th>
        <td><%= project.onepager %></td>
    </tr>  
    <tr>
        <th>Subdomain</th>
        <td><%= project.subdomain %></td>
    </tr> 
    <tr>
        <th>Created</th>
        <td><%= project.created %></td>
    </tr>
    <tr>
        <th>Facebook</th>
        <td><%= project.social.facebook %></td>
    </tr>
    <tr>
        <th>Twitter</th>
        <td><%= project.social.twitter %></td>
    </tr>
    <tr>
        <th>Youtube</th>
        <td><%= project.social.youtube %></td>
    </tr>
    <tr>
        <th>Bitcointalk</th>
        <td><%= project.social.bitcointalk %></td>
    </tr>
    <tr>
        <th>Telegram</th>
        <td><%= project.social.telegram %></td>
    </tr>
    <tr>
        <th>Medium</th>
        <td><%= project.social.medium %></td>
    </tr>
    <tr>
        <th>Owner</th>
        <td><%= project.createdBy %></td>
    </tr>                                                 
    <tr>
        <th>Logo:</th>
        <td><img src="<%= project.logo %>"/></td>
    </tr>
</table>