<table id="sale_details">
    <tr>
        <th>Name</th>
        <td><%= sale.name %></td>
    </tr>
    <tr>
        <th>Pricing mechanism</th>
        <td><%= sale.pricingMechanism %></td>
    </tr>
    <tr>
        <th>Initial token price</th>
        <td><%= sale.initialPrice %></td>
    </tr>
    <tr>
        <th>Starts</th>
        <td><%= sale.start %></td>
    </tr>
    <tr>
        <th>Ends</th>
        <td><%= sale.end %></td>
    </tr>
    <tr>
        <th>Status</th>
        <td><%= sale.status %></td>
    </tr>
    <tr>
        <th>Admin</th>
        <td><%= sale.admin %></td>
    </tr>
    <tr>
        <th>Beneficiary</th>
        <td><%= sale.beneficiary %></td>
    </tr>
    <tr>
        <th>Iconemy page</th>
        <td><a href="/projects/<%=project.subdomain%>">Go there</a></td>
    </tr>
    <tr>
        <th>Created on</th>
        <td><%= sale.created %></td>
    </tr> 
    <tr>
        <th>Commission</th>
        <td><%= sale.commission %></td>
    </tr> 
    <tr>
        <th>Discount code used</th>
        <td><%= sale.discount_code %></td>
    </tr>                                                 
    <tr>
        <th>Deployed</th>
        <td><%= sale.deployed %></td>
    </tr>
</table>