    <div class="modal fade" id="tranxETH2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="tranx-popup">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Buy tokens</h1>
                        <form action="#">
                            <h5 class="user-panel-subtitle">01. Read our disclaimer</h5>
                            <p>Iconemy does not take any liability for transactions for this sale. Iconemy acts only as a service for initiating the transaction and is not responsible for anything to do with the transactions that take place. As per the privacy policy, your details will be shared with the project owners.</p>
                            <div class="gaps-1x"></div>
                            <h5 class="user-panel-subtitle">02. Set amount of tokens</h5>
                            <div class="gaps-1x"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="payment-calculator">
                                        <div class="payment-get">
                                            <label for="paymentGet">Tokens to Purchase</label>
                                            <div class="payment-input">
                                                <input class="input-bordered" type="text" id="tokens" value="5000">
                                                <span class="payment-get-cur payment-cal-cur"><%= token.abbreviation %></span>    
                                            </div>
                                        </div>
                                        <em class="ti ti-exchange-vertical"></em>
                                        <div class="payment-from">
                                            <label for="paymentFrom">Payment Amount</label>
                                            <div class="payment-input">
                                                <input class="input-bordered" type="text" id="eth" data-price="0.00004" value="0.2">
                                                <span class="payment-from-cur payment-cal-cur">eth</span>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gaps-2x d-md-none"></div>
                                </div><!-- .col -->
                            </div><!-- .row -->
                            <div class="gaps-1x"></div>
                            <div class="payment-calculator-note"><i class="fas fa-info-circle"></i>The calculator helps you to convert required currency to <%= token.abbreviation %> tokens.</div>
                            <div class="gaps-3x"></div>
                            <div class="payment-summary">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="payment-summary-item payment-summary-final">
                                            <h6 class="payment-summary-title">Final Payment</h6>
                                            <div class="payment-summary-info">
                                                <span class="payment-summary-amount" id="eth_total">1.234</span> <span>eth</span>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-md-4">
                                        <div class="payment-summary-item payment-summary-bonus">
                                            <h6 class="payment-summary-title">Bonus</h6>
                                            <div class="payment-summary-info">
                                                <span>+</span> <span class="payment-summary-amount" id="bonus">23.4</span> <span><%= token.abbreviation %></span>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-md-4">
                                        <div class="payment-summary-item payment-summary-tokens">
                                            <h6 class="payment-summary-title">Tokens Received</h6>
                                            <div class="payment-summary-info">
                                                <span class="payment-summary-amount" id="total_tokens">12,200</span> <span><%= token.abbreviation %></span>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div><!-- .payment-summary -->
                            <a href="#" class="btn btn-primary payment-btn" data-dismiss="modal" data-toggle="modal" data-target="#tranxETH3" id="purchase_tokens_btn">Purchase Tokens</a>
                        </form><!-- form -->
                </div><!-- .tranx-popup -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- Modal End -->

    <div class="modal fade" id="tranxETH" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="tranx-popup">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1>Have you been introduced?</h1>
                    <p>Introducers in this project allow you to earn a bonus of 1% on your tokens.</p>
                    <div class="gaps-1x"></div>
                    <label for="paymentGet">Introducer code (optional)</label>
                    <div class="payment-input">
                        <input class="input-bordered" type="text" id="introducer_input" placeholder="intro123">    
                    </div>
                    <div class="gaps-1x"></div>
                    <a href="#" class="btn btn-primary payment-btn" data-dismiss="modal" data-toggle="modal" data-target="#tranxETH2" id="introducer_submit_button">Continue</a>

                </div><!-- .tranx-popup -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- Modal End -->
    
    <div class="modal fade" id="tranxETH3" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="tranx-popup">
                    <div class="row">
                        <div class="col-12">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- <h1>Confirm payment</h1> -->
                        </div>
                    </div>
                    <div id="order_summary_text">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="total_tokens"><span id="tokens_summary">1234.45</span><span class="currency"> <%= token.abbreviation %></span></h4>
                                <p class="dollar_per_token">$<span id="usd_per_token">0.23</span> / <%= token.abbreviation %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="row_title">Tokens</p>
                            </div>
                            <div class="col-6">
                                <p class="row_data">$<span id="tokens_in_usd">234.56</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p class="row_title">Network fee</p>
                            </div>
                            <div class="col-6">
                                <p class="row_data">$<span id="gas_cost">0.50</span></p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6">
                                <p class="row_title total_title">Total</p>
                            </div>
                            <div class="col-6">
                                <p class="row_data total_price">$<span id="total_cost_summary">235.06</span></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <a href="#" class="btn btn-primary payment-btn final_confirm_btn" id="paynow_btn">Continue</a>
                            </div>
                        </div>
                    </div>
                    <div id="order_summary_loading" style="display: none;">
                        <div class="row">
                            <div class="col-12">

                                <div class="status status-empty" id="tx_loading_img">
                                    <span class="status-text">Please wait for your transaction to process...</span>

                                    <div class="status-icon">
                                        <em class="ti ti-more"></em>
                                    </div>
                                </div>

                                <!-- if there is no transaction you can use this code -->
                                <div class="status status-empty" id="tx_success_img" style="display: none;">
                                    <span class="status-text">Success! Your tokens are in your wallet.</span>
                                    <div class="status-icon">
                                        <em class="ti ti-wallet"></em>
                                    </div>
                                    <a href="tokens.html" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#tranxETH2">Buy more</a>
                                </div>

                                <!-- if there is no transaction you can use this code -->
                                <div class="status status-empty" id="tx_error_img" style="display: none;">
                                    <span class="status-text">Oops! Somethings gone wrong.</span>
                                    <div class="status-icon">
                                        <em class="ti ti-close"></em>
                                    </div>
                                    <a href="tokens.html" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#tranxETH2">Try again</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div><!-- .tranx-popup -->
            </div><!-- .modal-content -->
        </div><!-- .modal-dialog -->
    </div>
    <!-- Modal End -->