<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<!-- Header -->
	<% include partials/google_tag_manager %>
	<% include partials/header_investors %>

	<script type="text/javascript" src="/javascripts/ct-ultimate-gdpr.js"></script>
    <script type="text/javascript" src="/javascripts/init.js"></script>
	<link rel="stylesheet" href="/stylesheets/ct-ultimate-gdpr.min.css">

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/new_landing/vendor.bundle.css?ver=122">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/new_landing/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/new_landing/custom_light.css?ver=122">

	<meta name="google-site-verification" content="_O5ifgyEzfqvPMF5EiApyxGCpxdMSTTJK4oOd1EaXkw" />
	<meta name="google-site-verification" content="HRV_JYnp06Z87eY1-ZgJ8W3mQpvyINQ9HURxlP0r3UA" />
</head>

<body class="theme-light" data-spy="scroll" data-target="#mainnav" data-offset="80">
	<% include partials/google_tag_manager_body %>

	<!-- Header --> 
	<header class="site-header is-sticky">
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">

				<a class="navbar-brand" href="./">
					<img class="logo logo-dark" alt="logo" src="images/new_landing/Iconemy_just_name_white_bg.png" srcset="images/new_landing/Iconemy_just_name_white_bg.png, images/new_landing/Iconemy_just_name_white_bg.png 2x, images/new_landing/Iconemy_just_name_white_bg.png 3x">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link menu-link" href="#intro">What is Iconemy<span class="sr-only">(current)</span></a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#apps">Mobile app</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/investors/blog">Blog</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/login">Log in or Sign up</a></li>
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/owners">List ICO/ITO</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-full banner-curb banner-particle d-flex align-items-center">
			<div class="container">
				<div class="banner-content">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
							<div class="header-txt tab-center mobile-center">
								<h1>We make ICO/ITO investment easy.</h1>
								<p class="lead">Iconemy is an ICO/ITO listing platform allowing you to buy tokens directly from the listing!</p>
								<ul class="btns">
									<li><a href="/login" class="btn">Log in or sign up</a></li>
									<li><a href="/owners" class="btn btn-alt">List your ICO/ITO</a></li>
								</ul>
								<ul class="social">
									<li><a href="https://www.facebook.com/Iconemy-701394043551477/"><em class="fa fa-facebook"></em></a></li>
									<li><a href="https://twitter.com/iconemy"><em class="fa fa-twitter"></em></a></li>
									<li><a href="https://www.linkedin.com/company/iconemy"><em class="fa fa-linkedin"></em></a></li>
									<li><a href="https://medium.com/iconemy"><em class="fa fa-medium"></em></a></li>
									<li><a href="https://t.me/joinchat/IJF73BLEOjOF-GgiL_-tqg"><em class="fa fa-telegram"></em></a></li>
								</ul>
							</div>
						</div><!-- .col  -->
						<div class="col-lg-5 offset-lg-1 col-md-12">
							<div class="text-center">
								<img srcset="images/new_landing/main_image_1.png, images/new_landing/main_image_1.png 2x, images/new_landing/main_image_1.png 3x" src="images/new_landing/main_image_1.png" class="main_image">
								<img srcset="images/new_landing/main_image_2.png, images/new_landing/main_image_2.png 2x, images/new_landing/main_image_2.png 3x" src="images/new_landing/main_image_2.png" class="main_image" style="display: none;">
								<img srcset="images/new_landing/main_image_3.png, images/new_landing/main_image_3.png 2x, images/new_landing/main_image_3.png 3x" src="images/new_landing/main_image_3.png" class="main_image" style="display: none;">
							</div>
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div><!-- .container  -->
		</div>
		<!-- End Banner/Slider -->
	</header>
	<!-- End Header -->

	<!-- Start Section -->
	<div class="section section-pad section-bg-alt nopb" id="intro">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="text-block main_area_text">
						<h2>Don't waste time.<br>Invest with Iconemy.</h2>
						<p class="lead">We've created a website that allows you to participate in Token sales, Airdrops and Bounty campaigns in a matter of minutes.</p>
						<p>All you have to do is sign up and get going!</p>
<!-- 						<a href="https://www.youtube.com/watch?v=SSo_EIwHSd4" class="play-btn video-play">
							<em class="play"><span></span></em>
							<span>Watch Video</span>
							<span>How it works</span>
						</a> -->
					</div>
				</div><!-- .col  -->
				<div class="col-md-5">
					<div class="res-m-btm">
						<img srcset="images/new_landing/airdrop_investor.png, images/new_landing/airdrop_investor.png 2x, images/new_landing/airdrop_investor.png 3x" src="images/new_landing/airdrop_investor.png" class="time_image">
						<!-- <img src="images/graph-light-a.png" alt="graph"> -->
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->

	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xs-12 col-md-6 offset-md-1 order-md-2">
					<div class="text-block main_area_text">
						<h2>Its as easy as 1..2..3</h2>
						<br />
						<p class="lead"><b>1.</b> Do KYC/AML once</p>
						<p class="lead"><b>2.</b> Find a project you love</p>
						<p class="lead"><b>3.</b> Click buy tokens!</p>
					</div>
				</div><!-- .col  -->
				<div class="col-xs-12 col-md-5 order-md-1">
					<div class="res-m-btm">
							<img srcset="images/new_landing/do_kyc_once_v2.png, images/new_landing/do_kyc_once_v2.png 2x, images/new_landing/do_kyc_once_v2.png 3x" src="images/new_landing/do_kyc_once_v2.png" class="kyc_image">
							<img srcset="images/new_landing/main_image_1_v2.png, images/new_landing/main_image_1_v2.png 2x, images/new_landing/main_image_1_v2.png 3x" src="images/new_landing/main_image_1_v2.png" class="kyc_image" style="display: none;">
							<img srcset="images/new_landing/main_image_2_v2.png, images/new_landing/main_image_2_v2.png 2x, images/new_landing/main_image_2_v2.png 3x" src="images/new_landing/main_image_2_v2.png" class="kyc_image" style="display: none;">
							<img srcset="images/new_landing/main_image_3_v2.png, images/new_landing/main_image_3_v2.png 2x, images/new_landing/main_image_3_v2.png 3x" src="images/new_landing/main_image_3_v2.png" class="kyc_image" style="display: none;">
						<!-- <img src="images/graph-light-b.png" alt="graph"> -->
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- Start Section -->

	<!-- Start Section -->
	<div class="section section-pad section-bg-dark blog-section" id="blogs">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title">ICOs LIVE NOW
							<span>LIVE ICO</span>
						</h2>
					</div>
				</div>
			</div><!-- .row -->
			<div class="blog-list">
				<div class="row">
					<% listings.forEach(function(listing) { %> 
						<div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2">
							<div class="blog-item">
								<div class="blog-photo"><a href="/campaign/<%= listing.domain %>"><img src="<%= listing.cover_photo %>" alt="blog-photo"></a></div>
								<div class="blog-texts">
									<h5 class="blog-title"><a href="/campaign/<%= listing.domain %>"><%= listing.name %></a></h5>
									<p><%= listing.tag_line %></p>
								</div>
							</div>
						</div><!-- .col -->
					<% }) %>
				</div><!-- .row -->
			</div><!-- .blog-list -->
			<div class="row text-center">
				<div class="col-md-12">
					<a href="/listing" class="btn-more">View all ICOs<em class="ti ti-angle-right"></em></a>
				</div>
			</div>
		</div><!-- .container -->
	</div>
	<!-- Start Section -->

	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="text-block main_area_text">
						<h2>Trust the community.</h2>
						<p class="lead">Work together to spot scams in the market.</p>
						<p>Iconemy allows you to leave a rating and/or comment on projects, you can also report it as a scam which shows up to other investors!</p>
					</div>
				</div><!-- .col  -->
				<div class="col-md-5">
					<div class="res-m-btm">
						<img srcset="images/new_landing/join_community.png, images/new_landing/join_community.png 2x, images/new_landing/join_community.png 3x" src="images/new_landing/join_community.png" class="community_image">
						<!-- <img src="images/graph-light-a.png" alt="graph"> -->
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .conatiner  -->
	</div>
	<!-- Start Section -->

	<!-- Start Section -->
	<div class="section section-pad no-pb section-bg-alt">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 offset-md-1 order-md-2">
					<div class="text-block main_area_text">
						<h2>Sick of getting lost?</h2>
						<p class="lead">Don't get lost in confusing buying processes on different websites. Simply sign up, find a project you love and click buy now!</p>

						<p>Iconemy will then prompt your crypto-wallet with the transaction necessary to pay.</p>

						<p>Don't have a wallet? Look below for our up-coming revolutionary ICO/ITO token wallet!</p>
					</div>
				</div><!-- .col  -->
				<div class="col-md-5 order-md-1">
					<div class="res-m-btm">
						<img srcset="images/new_landing/lost_in_space.png, images/new_landing/lost_in_space.png 2x, images/new_landing/lost_in_space.png 3x" src="images/new_landing/lost_in_space.png" class="lost_image">
						<!-- <img src="images/graph-light-b.png" alt="graph"> -->
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- Start Section -->


	<!-- Start Section -->
	<div class="section section-pad section-bg-btoa" id="apps">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<div class="heading-animation">
							<span class="line-1"></span><span class="line-2"></span>
							<span class="line-3"></span><span class="line-4"></span>
							<span class="line-5"></span><span class="line-6"></span>
							<span class="line-7"></span><span class="line-8"></span>
						</div>
						<h2 class="section-title">The Iconemy App 
							<span>apps</span>
						</h2>
						<p>Manage your portfolio, browse through projects and buy and transfer tokens directly from your secure mobile wallet.</p>
					</div>
				</div>
			</div>

			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="res-m-btm">
						<img src="images/new_landing/mobile_image_2.png" class="mobile_image">
					</div>
				</div><!-- .col  -->

				<div class="col-md-5 offset-md-1">
					<div class="text-block">
						<p>The Iconemy mobile app makes it even easier to buy tokens. Simply download the app, create a wallet and you will be able to buy tokens directly from your mobile! No need to worry about compatible wallets, finding an exchange or transfering tokens to the right place!</p>
						<ul>
							<li>Manage your portfolio of ERC-20 tokens</li>
							<li>Buy ETH from an integrated exchange</li>
							<li>Browse through ICOs on the Iconemy platform</li>
							<li>Buy products and services on the web using ETH</li>
						</ul>
						<ul class="btns">
							<li>
								<a href="#"><em class="fa fa-apple"></em></a>
								<a href="#"><em class="fa fa-android"></em></a>
							</li>
						</ul>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

		</div><!-- .container  -->
	</div>
	<!-- Start Section --> 

	<!-- Start Section -->
	<div class="section dark-subscribe-section section-pad-md section-bg section-connect" id="signup_mid">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Don't miss out, Sign up early</h4>
					<div class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" id="email_input_mid" data-page="investors">
						
						<button type="submit" class="btn btn-plane" id="signup_btn_mid">Sign up</button>
						<div class="subscribe-results">
							<div class="alert alert-success" id="success_box_mid" style="display: none;">
								 <p id="success_message_mid"></p>
							</div>
							<div class="alert alert-danger" id="error_box_mid" style="display: none;">
							  <p id="error_message_mid"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Start Section -->
	<div class="section dark-subscribe-section section-pad-md" id="owners_mid">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Are you running an ICO/ITO?</h4>
					<p>Check out how we can help you here</p>

					<a href="/owners" class="btn">ICO/ITO listing</a>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Start Section -->
	<div class="section section-pad section-bg-dark blog-section" id="blogs">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title">Iconemy blog
							<span>Blog</span>
						</h2>
					</div>
				</div>
			</div><!-- .row -->
			<div class="blog-list">
				<div class="row">
					<div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2">
						<div class="blog-item">
							<div class="blog-photo"><a href="/investors/blog/why_is_it_so_hard_to_invest_in_icos"><img src="/images/new_landing/blog/giving_up_cover.png" alt="blog-photo"></a></div>
							<div class="blog-texts">
								<ul class="blog-meta">
									<li><a href="#">16 Nov, 2018</a></li>
									<li><a href="#">Article</a></li>
								</ul>
								<h5 class="blog-title"><a href="/investors/blog/why_is_it_so_hard_to_invest_in_icos">Why is it so hard to invest into ICOs?</a></h5>
								<p>Heres a satirical story of the average user journey when investing in their first ICO. Highlighting the need for Iconemy.</p>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2">
						<div class="blog-item">
							<div class="blog-photo"><a href="/investors/blog/icos_arent_dead_stos_not_a_replacement"><img srcset="images/new_landing/blog_cover_1.png, images/new_landing/blog_cover_1.png 2x, images/new_landing/blog_cover_1.png 3x" src="images/new_landing/blog_cover_1.png" alt="blog-photo"></a></div>
							<div class="blog-texts">
								<ul class="blog-meta">
									<li><a href="#">7 Nov, 2018</a></li>
									<li><a href="#">Academy</a></li>
								</ul>
								<h5 class="blog-title"><a href="/investors/blog/icos_arent_dead_stos_not_a_replacement">Whats the difference between ICOs, ITOs, STOs and TGEs?</a></h5>
								<p>Here we dissect the confusing acronyms being thrown around the industry, they're not as complicated as they're made out to be!</p>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2">
						<div class="blog-item">
							<div class="blog-photo"><a href="/investors/blog/how_to_stop_ico_exit_scams"><img srcset="images/new_landing/blog_cover_2.png, images/new_landing/blog_cover_2.png 2x, images/new_landing/blog_cover_2.png 3x" src="images/new_landing/blog_cover_2.png" alt="blog-photo"></a></div>
							<div class="blog-texts">
								<ul class="blog-meta">
									<li><a href="#">05 Nov, 2018</a></li>
									<li><a href="#">Academy</a></li>
								</ul>
								<h5 class="blog-title"><a href="/investors/blog/how_to_stop_ico_exit_scams">Working together to improve the traditional ICO model</a></h5>
								<p>In this article we discuss how we can come together and self-regulate the community to reduce the risk of exit-scams!</p>
							</div>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .blog-list -->
			<div class="row text-center">
				<div class="col-md-12">
					<a href="/investors/blog" class="btn-more">Read All Artciles<em class="ti ti-angle-right"></em></a>
				</div>
			</div>
		</div><!-- .container -->
	</div>
	<!-- Start Section -->
	
	<!-- Start Section -->
	<div class="section section-pad section-bg-alt" id="contact">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title">Contact us
							<span>Contact</span>
						</h2>
						<p>Any questions? Reach out to us and we’ll get back to you shortly.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<ul class="contact-info">
						<li><em class="fa fa-envelope"></em><span>jp@iconemy.io</span></li>
						<li><em class="fa fa-paper-plane"></em><span>Join us on Telegram</span></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div id="contact_form" class="form-message text-center">
						<div class="form-results">
							<div class="alert alert-success" id="form_success_box" style="display: none;">
								 <p id="form_success_message"></p>
							</div>
							<div class="alert alert-danger" id="form_error_box" style="display: none;">
							  <p id="form_error_message"></p>
							</div>
						</div>
						<div class="input-field">
							<input name="contact-name" type="text" class="input-line required" id="form_name" data-page="investors">
							<label class="input-title">Your Name</label>
						</div>
						<div class="input-field">
							<input name="contact-email" type="email" class="input-line required email" id="form_email">
							<label class="input-title">Your Email</label>
						</div>
						<div class="input-field">
							<textarea name="contact-message" class="txtarea input-line required" id="form_message"></textarea>
							<label class="input-title">Your Message</label>
						</div>
						
						<div class="input-field">
							<button type="submit" class="btn" id="form_submit_btn">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section subscribe-section section-pad section-pad-md section-bg section-connect" id="signup">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-6 offset-md-3">
					<h4 class="section-title-md">Don't miss out, Sign up early</h4>
					<div class="subscription-form inline-form">
						<input type="text" name="youremail" class="input-round required email" placeholder="Enter your email address" id="email_input" data-page="investors">
						
						<button type="submit" class="btn btn-plane" id="signup_btn">Sign up</button>
						<div class="subscribe-results">
							<div class="alert alert-success" id="success_box" style="display: none;">
								 <p id="success_message"></p>
							</div>
							<div class="alert alert-danger" id="error_box" style="display: none;">
							  <p id="error_message"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Start Section -->
	<div class="section footer-scetion no-pt section-pad-sm section-bg">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<ul class="social">
						<li><a href="https://www.facebook.com/Iconemy-701394043551477/"><em class="fa fa-facebook"></em></a></li>
						<li><a href="https://twitter.com/iconemy"><em class="fa fa-twitter"></em></a></li>
						<li><a href="https://www.linkedin.com/company/iconemy"><em class="fa fa-linkedin"></em></a></li>
						<li><a href="https://medium.com/iconemy"><em class="fa fa-medium"></em></a></li>
						<li><a href="https://t.me/joinchat/IJF73BLEOjOF-GgiL_-tqg"><em class="fa fa-telegram"></em></a></li>
					</ul>
					<span class="copyright-text">
						2018, ICONEMY
						<span>All trademarks and copyrights belong to their respective owners.</span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/new_landing/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/new_landing/script.js?ver=122"></script>
	<script src="/javascripts/new_landing/subscribe.js?ver=122"></script>

</body>
</html>
