 <!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<% include partials/google_tag_manager %>

	<!-- This is used for the cookie policy for GDPR -->
	<script src="/javascripts/ct-ultimate-gdpr.js"></script>
	<script src="/javascripts/init.js"></script>

	<!-- Header -->
	<% include partials/header %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_my_projects.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_project.css?ver=122">
</head>

<body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" data-offset="80">
	<% include partials/google_tag_manager_body %>

	<!-- Header --> 
	<header class="site-header is-sticky has-fixed">

		<!-- Navbars -->
		<% include partials/portal_navbar_light %>
	</header>
	<!-- End Header -->

	<!-- Start Section -->
	<div class="section">
		<% if(isOwner) { %>
			<a href="/projects/<%= projectInfo.subdomain %>/update" id="edit_project">Edit project</a>
		<% } %>
		<div class="container">
			<div class="gaps size-6x"></div>

			<div class="row">
				<div class="col-lg-8 col-sm-12">
					<div class="row title">
						<h1 id="page-title"><%= projectInfo.name %></h1>
					</div>
					
					<div class="row description">
						<p id="page-description"><%= projectInfo.description %></p>
					</div>
					
					<div class="row social_row">
					<% if (projectInfo.social != {}) { %>
						<p id="social_title" class="social_section">Social</p>
						<div class="social_section">
							<ul class="social">
								<% if (projectInfo.social.facebook) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="<%= projectInfo.social.facebook %>"><em class="fa fa-facebook"></em></a></li>
								<% } if (projectInfo.social.twitter) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="<%= projectInfo.social.twitter %>"><em class="fa fa-twitter"></em></a></li>
								<% } if (projectInfo.social.youtube) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="<%= projectInfo.social.youtube %>"><em class="fa fa-youtube-play"></em></a></li>
								<% } if (projectInfo.social.telegram) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="<%= projectInfo.social.telegram %>"><em class="fa fa-telegram"></em></a></li>
								<% } if (projectInfo.social.bitcointalk) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="<%= projectInfo.social.bitcointalk %>"><em class="fa fa-bitcoin"></em></a></li>
								<% } if (projectInfo.social.medium) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="<%= projectInfo.social.medium %>"><em class="fa fa-medium"></em></a></li>
								<% } %>
							</ul>
						</div>
					<% } %>
					</div>
					
					<div class="row website">
						<p id="page_website_title">Website</p>
						<a href="https://<%= projectInfo.website %>" id="page_website"><%= projectInfo.website %></a>
					</div>

					<div class="row documents">
						<!-- <p id="whitepaper_title">Whitepaper</p> -->
						<a class="document_button" href="<%= projectInfo.whitepaper %>" id="whitepaper">Whitepaper</a>
						<!-- <img src="images/whitepaper_full.png" alt="whitepaper" id="whitepaper_image"> -->

						<a class="document_button" href="<%= projectInfo.onepager %>" id="onepager">Onepager</a>
						<!-- <p id="onepager_title">Onepager</p>
						<img src="images/onepager_full.png" alt="onepager" id="onepager_image"> -->

					</div>

					<div class="row buynow">
						<a class="buynow_button" href="/sale" id="buynow">Buy now</a>
					</div>

					<div class="row tokens">
						<% if (projectInfo.token) { %>
							<div class="col-lg-2 col-4 token_link" data-subdomain="<%= projectInfo.subdomain %>" data-usingsubdomain="<%= projectInfo.usingSubdomain %>">
								<h3 id="tokens_title">Token</h3>
								<img src="<%= projectInfo.token.logo %>" alt="donut" id="token_logo">
							</div>
							<div class="col-lg-10 col-8">
								<p id="token_symbol"><%= projectInfo.token.symbol %></p>
								<p id="token_supply">Total supply:  <b>123,456,789</b></p>
							</div>
						<% } else if(!projectInfo.token) { %>
							<h3 id="tokens_title">Token</h3>
							
							<% if(isOwner) { %>
								<div class="card" id="new_token" data-subdomain="<%= projectInfo.subdomain %>">
								 	<div class="container">
									  	<h1>+</h1>
									    <p>Add new token</p> 
									</div>
								</div>
							<% } %>

						<% } %>
					</div>
				</div>

				<div class="col-lg-4 col-sm-12">
					<div class="row">
						<img src="<%= projectInfo.logo %>" alt="logo" id="project_logo">
					</div>
					<div class="links_section">
						<div class="row subdomain_section">
							<p class="title">Subdomain</p>
							<br/ >
							<p class="subdomain"><b><%= projectInfo.subdomain %></b></p>
						</div>
						<% if(active > -1){ %>
						<div class="row buynow_section" data-subdomain="<%= projectInfo.subdomain %>">
							<p class="title" id="buynow">Buy now</p>
							<br/ >
							<p class="buynow"><b><%= projectInfo.subdomain %>.iconemy.io/buynow</b></p>
						</div>
						<% } %>
						<% if(!projectInfo.subdomain){ %>
							<div class="row admin_section">
								<p class="title" id="admin">Admin</p>
								<br/ >
								<p class="admin"><%= projectInfo.subdomain %>.iconemy.io/<b>admin</b></p>
							</div>
						<% } %>
						<% if(projectInfo.token){ %>
							<div class="row token_section">
								<p class="title" id="token">Token</p>
								<br/ >
								<p class="token"><%= projectInfo.subdomain %>.iconemy.io/<b>token</b></p>
							</div>	
						<% } %>
					</div>				
				</div>
			</div>

			<div class="crowdsales">
					<div class="crowdsale_title">
						<h3>Crowdsales</h3>
					</div>
					<div class="scrolling-wrapper">
					<% if(projectInfo.crowdsales){ %>
						<% projectInfo.crowdsales.forEach(function(sale, i) { %>
					        <div class="col-auto">
					        	<%if (sale.status == 'On-going') { %>
									<div class="card custom_card crowdsale current_sale" data-index="<%= i %>"  data-subdomain="<%= projectInfo.subdomain %>" data-usingsubdomain="<%= projectInfo.usingSubdomain %>">
								<% } else { %>
							 		<div class="card custom_card crowdsale" data-index="<%= i %>"  data-subdomain="<%= projectInfo.subdomain %>" data-usingsubdomain="<%= projectInfo.usingSubdomain %>">
							 	<% } %>
							 		<div class="container">
							 			<div class="toprow">
								  			<p id="title"><%= sale.name %></p>
								  			<p id="status"><%= sale.status %></p>
								  		</div>
								    	<p id="start_date">Started: <b><%= sale.start %></b></p> 
								    	<p id="end_date">Ended: <b><%= sale.end %></b></p> 
								    	<p id="token_price">Price: <b id="price_value"><%= sale.price %></b> <span id="eth_symbol">ETH</span></p>

								    	<p id="tokens_sold">Sold: <b id="sold_value"><%= sale.sold %></b></p>
								    	<p id="investors">Investors: <b id="investors_value"><%= sale.investors %></b></p>
								  	</div>
							 	</div>
							</div>
					    <% }); %>
					<% } %>
					<% if(!projectInfo.usingSubdomain){ %>
						<% if(isOwner) { %>
							<div class="col-auto">
							 	<div class="card custom_card" id="new_crowdsale" data-subdomain="<%= projectInfo.subdomain %>">
							 		<div class="container">
								  		<h1>+</h1>
								    	<p>Add new crowdsale</p> 
								  	</div>
							 	</div>
							</div>
						<% } %>
					<% } %>
					</div>
				</div>
			</div>
	</div>

	<!-- Footer -->
	<% include partials/footer %>
	<!-- Pre-loader -->
	<% include partials/preloader %>

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/custom_my_projects.js?ver=122"></script>
	<script src="/javascripts/custom_project.js?ver=122"></script>

</body>
</html>
