<!DOCTYPE html>
<html lang="zxx" class="js">
<head>

	<!-- This is used for the cookie policy for GDPR -->
	<script src="/javascripts/ct-ultimate-gdpr.js"></script>
	<script src="/javascripts/init.js"></script>

	<!-- Header -->
	<% include partials/header %>

	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="/stylesheets/vendor.bundle.css?ver=122">
	
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/stylesheets/style.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/theme.css?ver=122">
	<link rel="stylesheet" href="/stylesheets/custom_styles.css?ver=122">
</head>

<body class="theme-muscari io-mascari" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header --> 
	<header class="site-header is-sticky">

		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent" id="mainnav">
			<nav class="container">
			
				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="/">
					<img class="logo logo-dark" alt="logo" src="/images/Iconemy_logo_white_bg.png">
					<img class="logo logo-light" alt="logo" src="/images/Iconemy_logo_blue_bg@1x.png">
				</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
						<li class="nav-item"><a class="nav-link menu-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="/projects">Projects</a></li>
						<li class="nav-item"><a class="nav-link menu-link" href="https://docs.iconemy.io">Docs</a></li>
					</ul>
					<ul class="navbar-nav navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
						<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="/projects/<%= project.id %>/buynow">BUY NOW</a></li>
					</ul>
				</div>
				
			</nav>
		</div>
		<!-- End Navbar -->

		<!-- Banner/Slider -->
		<div id="header" class="banner banner-tokensale d-flex align-items-center">
			<div class="header-angle-bg">
				<div class="overlay-bubble">
					<div class="overlay-bubble-1"></div>
					<div class="overlay-bubble-2"></div>
					<div class="overlay-bubble-3"></div>
					<div class="overlay-bubble-4"></div>
					<div class="overlay-bubble-5"></div>
					<div class="overlay-bubble-6"></div>
				</div>
				<div id="particles-js" class="particles-container particles-js"></div>
			</div>
			<div class="container">
				<div class="banner-content">
					<div class="gaps size-6x"></div>
					<div class="row align-items-center mobile-center">
						<div class="col-lg-12 text-center res-m-bttm">
							<div class="header-txt">
								<img src="<%= token.logo %>" class="center_logo">
								<h1 class="animated token_name" data-animate="fadeInUp" data-delay="1.25"><%= token.name %></h1>
								<p class="lead animated token_symbol" data-animate="fadeInUp" data-delay="1.35"><%= token.symbol %></p>
								<% if(token.address != null){ %>
									<p class="lead animated" id="contract_address" data-animate="fadeInUp" data-delay="1.35"><%= token.address %> <em class="far fa-copy" id="address_copy" data-address="<%= token.address %>"></em></p>
								<% } %>
								<ul class="btns animated" data-animate="fadeInUp" data-delay="1.45">
									<% if(token.deployed == 'None') { %>
										<li><a href="/pay?project=<%= project.id %>&item=token" class="btn btn-outline">Deploy</a></li>
									<% } else if(token.deployed == 'Done') { %>
										<li><a href="/projects/<%= project.id %>/buynow" class="btn btn-outline">Buy now</a></li>
									<% } %>
								</ul>
								<div class="gaps size-3x"></div>
							</div>
						</div><!-- .col  -->
					</div><!-- .row  -->
				</div><!-- .banner-content  -->
			</div><!-- .container  -->
		</div>
	</header>
	<!-- End Header -->
	
	
	<!-- Start Section -->
	<div class="section section-bg-light header-partners">
		<div class="container">
			<div class="gaps size-2x d-lg-none"></div>
			<div class="row">
				<div class="col-md-6">
					<% if (token.social) { %>
						<h6 class="ex-sm-head animated" data-animate="fadeInUp" data-delay="1.65">Follow <br> us here</h6>
							<ul class="social">
								<% if (token.social.facebook) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="<%= token.social.facebook %>"><em class="fa fa-facebook"></em></a></li>
								<% } if (token.social.twitter) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="<%= token.social.twitter %>"><em class="fa fa-twitter"></em></a></li>
								<% } if (token.social.youtube) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="<%= token.social.youtube %>"><em class="fa fa-youtube-play"></em></a></li>
								<% } if (token.social.telegram) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="<%= token.social.telegram %>"><em class="fa fa-telegram"></em></a></li>
								<% } if (token.social.bitcointalk) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="<%= token.social.bitcointalk %>"><em class="fa fa-bitcoin"></em></a></li>
								<% } if (token.social.medium) { %>
									<li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="<%= token.social.medium %>"><em class="fa fa-medium"></em></a></li>
								<% } %>
							</ul>
					<% } %>
				</div>
			</div><!-- .row  -->
		</div><!-- .container  -->
	</div>
	<!-- End Section -->
	
	
	<!-- Start Section -->
	<div class="section section-bg-light section-pad no-pt into-section" id="intro">
		<div class="container">
			<div class="gaps size-3x"></div>

		<% if(token.deployed == 'None') { %>
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="card" id="deploy">
					  <div class="container">
					  	<div class="balance">
					  		<p class="title">Deploy contract</p>
					    </div> 
					    <div class="status">
					    	<p class="title">Can deploy</p>
					    	<div class="status_dot"></div>
					    </div>
					    <ul class="withdraw_btn">
							<li><p id="deploy_explanation"><b>Please note:</b> Noone will be able to see your token until it is deployed to the main ethereum network!</p></li>
							<li><a id="deploy_btn" class="btn btn-outline" href="/pay?project=<%=project.id %>&item=token">Deploy contract</a></li>
						</ul>
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

		<% } else if(token.deployed == 'Done') { %>

			<div class="row align-items-center">
				<div class="col-lg-4 col-sm-12">
					<div class="card animated" data-animate="fadeInUp" data-delay=".2">
					  <div class="container">
					  	<p class="title">Total supply</p>
					    <h4><b id="supply_num">0</b></h4>  
					  </div>
					</div>
				</div><!-- .col  -->
				<div class="col-lg-4 col-sm-12">
					<div class="card animated" data-animate="fadeInUp" data-delay=".4">
					  <div class="container">
					  	<p class="title">Token holders</p> 
					    <h4><b id="holders_num">0</b></h4> 
					  </div>
					</div>
				</div><!-- .col  -->
				<div class="col-lg-4 col-sm-12">
					<div class="card animated" data-animate="fadeInUp" data-delay=".6">
					  <div class="container">
					  	<p class="title">Transactions</p> 
					    <h4><b id="transaction_num">0</b></h4> 
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="gaps size-3x"></div>
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="card_large" id="transfer_section">
					  <div class="container">
					  	<div class="balance">
					  		<p class="title">Balance</p>
					    	<h4 class="token_balance"><b id="balance_num">0</b> <%= token.symbol %></h4>
					    </div> 
					    <div class="status">
					    	<p class="title">Can transfer</p>
					    	<div class="status_dot"></div>
					    </div>
					    <div class="input_fields">
					    	<label for="address">Address</label>
							<input type="text" id="address" name="address" placeholder="0x1043b9496f9437EFcEdeD91F9C55eACbC1D1bF8f">

							<label for="tokens">Token amount</label>
							<input type="number" id="tokens" name="tokens" placeholder="1250">
					    </div>
					    <ul class="transfer_btn">
					    	<img src="/images/loading_gif.gif" alt="loading" id="loading_gif">
					    	<img src="/images/tick_img.png" alt="loading" id="complete_img">
							<li><a class="btn btn-outline" id="transfer_btn">Transfer</a></li>
						</ul>
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="row align-items-center admin_only" style="display:none;">
				<div class="col-lg-12">
					<div class="card_large" id="minting_section">
					  <div class="container">
					  	<div class="balance">
					  		<p class="title">Mint tokens</p>
					    </div> 
					    <div class="status">
					    	<p class="title">Can mint</p>
					    	<div class="status_dot"></div>
					    </div>
					    <div class="input_fields">
					    	<label for="address">Address</label>
							<input type="text" id="address" name="address" placeholder="0x1043b9496f9437EFcEdeD91F9C55eACbC1D1bF8f">

							<label for="tokens">Token amount</label>
							<input type="number" id="tokens" name="tokens" placeholder="1250">
					    </div>
					    <ul class="mint_btn">
					    	<img src="/images/loading_gif.gif" alt="loading" id="mint_loading_gif">
					    	<img src="/images/tick_img.png" alt="loading" id="mint_complete_img">
							<li><a class="btn btn-outline" id="mint_btn">Mint</a></li>
						</ul>
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="row align-items-center admin_only" style="display:none;">
				<div class="col-lg-12">
					<div class="card" id="release">
					  <div class="container">
					  	<div class="balance">
					  		<p class="title">Release tokens</p>
					    </div> 
					    <div class="status">
					    	<p class="title">Can release</p>
					    	<div class="status_dot"></div>
					    </div>
					    <ul class="withdraw_btn">
					    	<img src="/images/loading_gif.gif" alt="loading" id="release_loading_gif">
					    	<img src="/images/tick_img.png" alt="loading" id="release_complete_img">
							<li><a id="release_btn" class="btn btn-outline">Release tokens</a></li>
						</ul>
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->

			<div class="row align-items-center admin_only" style="display:none;">
				<div class="col-lg-12">
					<div class="card" id="newsale">
					  <div class="container">
					  	<div class="balance">
					  		<p class="title">Start new sale</p>
					    </div> 
					    <div class="status">
					    	<p class="title">Can start</p>
					    	<div class="status_dot"></div>
					    </div>
					    <ul class="withdraw_btn">
							<li><a href="/projects/<%=project.id %>/crowdsales/create" id="sale_btn" class="btn btn-outline">Start new sale</a></li>
						</ul>
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
		<% } else { %>
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="card" id="newsale">
					  <div class="container">
					  	<div class="balance">
					  		<p class="title">Thank you!</p>
					    </div> 
					    <ul class="withdraw_btn">
							<li id="deploy_explanation">Your token is being deployed! We will email you when it is ready.</li>
						</ul>
					  </div>
					</div>
				</div><!-- .col  -->
			</div><!-- .row  -->
			
		<% } %>

			<div class="gaps size-6x"></div>
			<div class="gaps size-6x"></div>

			<div class="gaps size-3x d-none d-lg-block"></div>
		</div><!-- .conatiner  -->
	</div>
	<!-- End Section -->

	<!-- Footer -->
	<% include partials/footer %>

	<!-- Pre-loader -->
	<% include partials/preloader %>

	<!-- JavaScript (include all script here) -->
	<script src="/javascripts/jquery.bundle.js?ver=122"></script>
	<script src="/javascripts/script_sale.js?ver=122"></script>
	<script src="/javascripts/token_interaction.js?ver=122"></script>

	<!-- Request the specific ABI files for this token -->
	<script src="<%= token.jsFileURL %>"></script>
</body>
</html>
